@{
    Layout = "_Layout";
}


<div class="text-center logo">
    <h1 class="display-4">Управление</h1>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">

        <p class="mb-4">
            <a asp-controller="Orders" asp-action="ActiveOrders" class="btn btn-link nondecoration pr-3">Активные заказы</a>
            <a asp-controller="Orders" asp-action="History" class="btn btn-link nondecoration pr-3">История заказов</a>
            <a asp-controller="Gadgets" asp-action="Management" class="btn btn-link nondecoration">Товары</a>
        </p>
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
</div>