<h1 class="text-center mb-2">Управление</h1>
<div class="container-fluid">
    <div class="row justify-content-center">

        <p class="mb-4">
            <button type="submit" class="btn btn-link nondecoration p-0" onclick="$('#content').load('/Orders/ActiveOrders')">Активные заказы</button>
            <span>/</span>
            <button type="submit" class="btn btn-link nondecoration p-0" onclick="$('#content').load('/Orders/History')">История заказов</button>
            <span>/</span>
            <button type="submit" class="btn btn-link nondecoration p-0" onclick="$('#content').load('/Gadgets/Management')">Товары</button>
         </p>

        <div id="content" class="container"> </div>
    </div>
</div>