<div class="text-center logo">
    <h1 class="display-4">GadgetStore</h1>
    <h4 class="h4 logo-bottom">Онлайн магазин гаджетов</h4>
</div>
<div class="row justify-content-center">
    <div class="col text-center content pt-3">
        <p>
            <span>
                Онлайн-заказы через корзину принимаются ежедневно и круглосуточно!
            </span><br />
            <span>
                В рабочее время вам перезвонит оператор для подтверждения заказа.
            </span><br />
            <span>
                Телефоны:
            </span> <br />
            <span>
                +375 17 3-111-321
            </span><br />
            <span>
                +375 29 3-222-123
            </span><br />
            <span>
                +375 33 3-321-312
            </span><br />
            <span>
                +375 25 5-231-123
            </span><br />
            <span>
                Viber: <a class="btn btn-sm btn-link nondecoration" href="/"> GadgetStore.by </a>
            </span><br />
            <span>
                Telegram:<a class="btn btn-sm btn-link nondecoration" href="/"> gs@GadgetStorebot </a>
            </span><br />
            <span>
                E-mail:<a class="btn btn-sm btn-link nondecoration" href="/"> gadgetstore@bk.by </a>
            </span><br />
        </p>
    </div>
</div>
